
.form-contacto {
    background-color: var(--secundario-alpha);
    width: 95%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: 3rem;
}

@media (min-width: 768px) {
    .form-contacto {
        width: 80%;
        max-width: 50%;
    }
}

.form-contacto-h1,
.form-contacto-p {
    text-align: center;
}

.form-contacto__label {
    font-family: var(--fuente-principal);
    margin: 3rem 0 1rem 0;
    font-weight: 600;
}

.form-contacto__input,
.form-contacto__select,
.form-contacto__razon {
    background-color: transparent;
    border: 1rem solid var(--secundario-alpha);
    color: var(--auxiliar);
    font-family: var(--fuente-principal);
    appearance: textfield;
}

.form-contacto__razon {
    resize: vertical;
}

.form-contacto__select {
    color: var(--auxiliar-alpha)
}

.form-contacto__select--seleccionado {
    color: var(--auxiliar)
}

.form-contacto__input::placeholder,
.form-contacto__razon::placeholder {
    color: var(--auxiliar);
}

.form-contacto__submit {
    margin: 2rem 0;
    background-color: var(--secundario-alpha);
    border: 0.5rem solid var(--secundario);
    color: var(--auxiliar);
    transition: 1s background-color ease, 1s color ease;
    cursor: pointer;
    font-family: var(--fuente-principal);
}

.form-contacto__submit:hover {
    background-color: var(--cuarto);
    color: var(--primario)
}

.errorForm {
    background-color: #B009;
    font-family: var(--fuente-principal);
    color: #FFF;
    margin: 3rem auto;
    padding: 2rem;
    font-size: 2rem;
}

.errorCampo {
    background-color: #B004;
    color: #FFF;
    padding: 1rem;
}
