
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,800;1,900&family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,800;1,900&family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,800;1,900&family=News+Cycle&display=swap');

:root {
    --primario: #252B48;
    --primario-alpha: #252B4899;
    --secundario: #445069;
    --secundario-alpha: #44506999;
    --terciario: #5B9A8B;
    --cuarto: #F7E987;
    --auxiliar: #F0F0F0;
    --auxiliar-alpha: #F0F0F099;
    --caja: #0006;

    --fuente-principal: "News Cycle, Michroma, Manrope, sans-serif";
}

/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
}

/* Para que los bordes, padding y margenes sean absolutos respecto al contenido */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    background-color: var(--primario);
    color: var(--auxiliar);
}

h1 {
    color: var(--auxiliar);
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* Utilidades */

.sombra {
    box-shadow: 7px 0px 42px 2px var(--caja);
}

/* Header */

.header {
    text-align: center;
}

/* @media (min-width: 768px) {
    .header {
        text-align: left;
    }
} */

.logo {
    width: 30rem;
}
