@use "base/variables" as v;
@use "base/mixins" as m;


.window-background {
    background-color: v.$gray-alpha;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.short-form {
    width: 90%;
    max-width: 60rem;
    
    .form {
        background-color: v.$aux;
        width: 100%;
        margin: 0;
        
        .button-close {
            margin-left: auto;
            color: v.$gray-alpha;
            width: 44px;
            height: 44px;
            cursor: pointer;
            transition: 1s color ease;

            &:hover {
                color: black;
            }
        }

        h1 {
            margin: 0 2rem 1rem 0;
        }

        
        input {
            border-color: v.$gray-alpha;
            margin: 2rem 0;
            height: 6rem;
        }
        
    }
}
