
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,800;1,900&family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,800;1,900&family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,800;1,900&family=News+Cycle&display=swap');


// Colors
$letter: #000;
$letter-alpha: #0009;
$primary: #252B48;
$primary-alpha: #252B4899;
$secondary: #445069;
$secondary-alpha: #44506999;
$tertiary: #5B9A8B;
$quaternary: #F7E987;
$quaternary-darken: darken($color: $quaternary, $amount: 20%);
$aux: #F0F0F0;
$aux-alpha: #F0F0F095;
$box: #0006;

// Font
$main-font: "News Cycle", Michroma, Manrope, sans-serif;

// Media queries

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

$max-width: 120rem;
