@use "base/mixins" as m;



.img-brochure {
    width: 90%;
    margin: 5rem auto;

    @include m.desktop {
        width: 100%;
    }
    
}

.actividades {
    li {
        margin-top: 1.8rem;
    }
}

