@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
    padding: 2rem;
    margin-top: 5rem;
    background-color: v.$primary;
    color: v.$aux;

    a {
        color: v.$aux;
    }

    h1 {
        color: v.$aux;
    }

    ul {
        @include m.reset-list;
    }
    li {
        padding: 1rem 0;
        span {
            font-weight: 700;
        }
    }

    .title {
        margin-bottom: 5rem;
        span {
            text-decoration:underline;
            text-decoration-color: v.$quaternary;
            text-decoration-line: 1rem;
            text-underline-offset: 2rem;
            text-decoration-thickness: 0.3rem;
        }
    }


    .container {
        @include m.tablet {
            @include m.grid(1, 2rem);
        }
        @include m.desktop {
            @include m.grid(2, 2rem);
        }
    }
    .contact {
        margin: 0 auto;
        width: 100%;

        @include m.tablet {
            place-items: center;
            @include m.grid(2, 2rem);

            .title {
                margin: 0 auto 0 0;
                grid-column: 1 / 4;
            }
        }
    }

    .person {
        display: table;
        margin: 0 auto;
        margin-bottom: 3rem;
        @include m.tablet {
            align-self: self-start;
            margin: 3rem auto 0 auto;
        }
    }

    .icons {
        @include m.tablet {
            @include m.grid(1, 2rem);

            h2 {
                margin: 0 auto 0 0;
            }
        }
        @include m.desktop {
            width: 50%;
            margin-left: auto;
        }
        
        .network {
            display: grid;
            grid-template-columns: 1fr 10fr;
            gap: 1rem;
            max-width: 20rem;
            margin: 0 auto;

            @include m.desktop {
                margin-left: 0;
            }
            .icon, svg {
                margin: auto 0;
            }
            svg {
                width: 6rem;
                height: 6rem;
            }
        }

    }
}
