@use "base/variables" as v;
@use "base/mixins" as m;


.form {
    background-color: v.$quaternary;
    width: 95%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 4rem;

    @include m.tablet {
        width: 80%;
        max-width: calc(v.$max-width - 20rem);
    }
    
    h1, p {
        text-align: center;
    }

    label {
        font-family: v.$main-font;
        margin: 3rem 0 1rem 0;
        font-weight: 600;
    }
    
    input, select, .form__razon {
        background-color: v.$aux;
        border: 0.2rem solid v.$quaternary-darken;
        color: v.$primary;
        font-family: v.$main-font;
        appearance: none;
        padding: 0.5rem;
    }

    .form__razon {
        resize: vertical;
        min-height: 20rem;
    }

    select {
        color: v.$primary-alpha;
    }

    .form__select--selected {
        color: v.$primary;
    }

    input, .form__razon{
        &::placeholder {
            color: v.$primary-alpha;
        }
    }

    .form__submit {
        margin: 2rem 0;
        padding: 1rem;
        background-color: v.$primary;
        border: 0;
        color: v.$aux;
        transition: 1s background-color ease;
        cursor: pointer;
        font-family: v.$main-font;

        &:hover {
            background-color: v.$primary-alpha;
            color: v.$aux;
        }
    }

    .errorForm {
        background-color: #B00B;
        font-family: v.$primary;
        color: #FFF;
        margin: 3rem auto;
        padding: 2rem;
        font-size: 2rem;
    }

    .errorCampo {
        background-color: #B009;
        color: #FFF;
        padding: 1rem;
    }
}



