@use "base/variables" as v;
@use "base/mixins" as m;



$img-width: 14.57rem;
$img-height: 21.34rem;

.home {
    p {
        margin: 0;
    }
}

.presentation {
    padding: 5rem 2rem;
}


.left, .right {

    grid-auto-flow: column;
    padding: 5rem;
    background-color: v.$secondary;
    margin: 10rem auto 0 auto;

    @include m.desktop {
        @include m.grid(3, 5rem);
        grid-auto-flow: column;
    }

    img {
        
        @include m.phone {
            width: calc($img-width * 2);
            height: calc($img-height * 2);
        }
        
    }

    .presentation-img {
        text-align: center;
        margin: auto 2rem;
        
    }
}

.left {
    margin-top: 2rem;
    .presentation-img {
        @include m.tablet {
            text-align: right;   
            float: left; 
        }    
    }
    .description {

        @include m.desktop {
            grid-column: 2 / 4;
        }
    }
}


.right {

    .presentation-img {
        @include m.tablet {
            text-align: left;
            float:right;    
        }
    }
    .description {

        @include m.desktop {
            grid-column: 1 / 3;
        }
    }


}

.description {

    h2, h3 {
        text-align: center;
        color: v.$aux-alpha;
        margin-bottom: 3rem;

        @include m.tablet {
            margin-top: 0;
        }
        
    }

    h2 {
        font-size: 3.6rem;
        font-family: v.$secondary-font;
    }

    h3 {
        font-size: calc(v.$font-size + 0.2rem);
    }

    p {
        color: v.$aux;
        text-align: justify;
    }
}

