@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #252B48;
  --secondary-color: #445069;
  --tertiary-color: #F3F3F3;
  --aux-color: #F7E987;
  --bg-color: #0C0C0C; 
}

body {
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.image-linear {
  mask-image: linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.8) 40%, black 50%, rgba(0, 0, 0, 0.8) 65%, rgba(0, 0, 0, 0.2) 70%, transparent 80%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 20%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.8) 40%, black 50%, rgba(0, 0, 0, 0.8) 65%, rgba(0, 0, 0, 0.2) 70%, transparent 80%);
}

.image-linear-s {
  mask-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.8) 40%, black 50%, rgba(0, 0, 0, 0.8) 65%, rgba(0, 0, 0, 0.2) 80%, transparent 90%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.8) 40%, black 50%, rgba(0, 0, 0, 0.8) 65%, rgba(0, 0, 0, 0.2) 80%, transparent 90%);
}

.image-linear-xs {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.9) 10%, black 50%, rgba(0, 0, 0, 0.9) 98%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.9) 10%, black 50%, rgba(0, 0, 0, 0.9) 98%, transparent 100%);
}

.image-linear-xs-logo {
  mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.6) 90%, transparent 100%);
}

.image-linear-xs-h {
  mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.9) 20%, black 50%, rgba(0, 0, 0, 0.9) 98%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.9) 20%, black 50%, rgba(0, 0, 0, 0.9) 98%, transparent 100%);
}

.image-linear-xs-f {
  mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 20%, black 50%, rgba(0, 0, 0, 0.9) 98%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 20%, black 50%, rgba(0, 0, 0, 0.9) 98%, transparent 100%);
}

.horizontal-linear-l {
  mask-image: linear-gradient(to right, transparent 1%,  rgba(0, 0, 0, 0.8) 10%, black 50%, rgba(0, 0, 0, 0.7) 98%);
  -webkit-mask-image: linear-gradient(to right, transparent 1%,  rgba(0, 0, 0, 0.8) 10%, black 50%, rgba(0, 0, 0, 0.7) 98%);
}

.horizontal-linear-r {
  mask-image: linear-gradient(to left, transparent 1%,  rgba(0, 0, 0, 0.8) 10%, black 50%, rgba(0, 0, 0, 0.7) 98%);
  -webkit-mask-image: linear-gradient(to left, transparent 1%,  rgba(0, 0, 0, 0.8) 10%, black 50%, rgba(0, 0, 0, 0.7) 98%);
}

.header-linear {
  mask-image: linear-gradient(to top,transparent 1%,  rgba(0, 0, 0, 0.8) 30%, black 50%, rgba(0, 0, 0, 0.7) 98%);
  -webkit-mask-image: linear-gradient(to top,transparent 5%,  rgba(0, 0, 0, 0.3) 20%, black 50%, rgba(0, 0, 0, 0.7) 98%);
}

.bg-color {
  background-color: var(--bg-color, #FCFCFC);
}

.bg-primary-color {
  background-color: var(--primary-color, #252B48);
}

.bg-tertiary-color {
  background-color: var(--tertiary-color, #F3F3F3);
}

.bg-aux-color {
  background-color: var(--aux-color, #F7E987);
}

.light-mode {
  background-color: var(--tertiary-color);
  color: black;
}
.dark-mode {
  background-color: var(--bg-color);
  color: white;
}
